body {
  font-family: 'Bungee Shade', cursive;
  background-image: url('https://fsmedia.imgix.net/11/d4/a6/ca/f7cf/4f8e/89b5/230b3e9cc5d5/transitfuturesystemmaplarge-1jpg.jpeg?auto=format%2Ccompress&dpr=2&w=650');
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

/* nav span {
  font-size: 1.5em;
} */

nav div {
  padding-left: 10px;
  padding-top: 8px;
}

.brown {
  background-color: rgb(63, 16, 16, 0.8);
  color: white;
  margin: 2px;
  padding-left: 5px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.purple {
  background-color: rgba(81, 40, 156, 0.829);
  color: white;
  margin: 2px;
  padding-left: 5px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.red {
  background-color: rgba(247, 54, 54, 0.8);
  color: white;
  margin: 2px;
  padding-left: 5px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.bus {
  background-color: rgba(73, 71, 71, 0.8);
  color: white;
  margin: 2px;
  padding-left: 5px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#head {
  font-family: 'Bungee Inline', cursive;
}

h1 {
  font-size: 4em;
  text-shadow: -1px -1px 0 purple, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-left: 10px;
}

span {
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#desc {
  text-shadow: -2px -2px 0 purple, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-left: 5px;
  color: yellow;
}

.weatherData {
  font-family: 'Bungee Inline', cursive;
  color: yellow;
  text-shadow: -2px -2px 0 purple, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-left: 5px;
  padding-top: 7px;
}

.faster {
  font-family: 'Faster One', cursive;
}

#faster {
  font-family: 'Faster One', cursive;
  font-size: 1.5em;
  text-decoration: none;
}

.trainHeader {
  color: yellow;
  /* font-size: 2.5em; */
  font-family: 'Bungee Inline', cursive;
  text-shadow: -2px -2px 0 purple, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border: outset purple;
  box-shadow: 5px 10px;
  padding-left: 10px;
  background-color: white;
}

.trainHeader h2 {
  font-size: 2em;
}

.links {
  font-family: 'Bungee Inline', cursive;
  color: yellow;
  text-shadow: -2px -2px 0 purple, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-left: 10px;
  padding-top: 7px;
}
